table {
    text-align: center;
	vertical-align: middle;
}

thead {
    background-color: #333;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}
  
tbody tr:nth-child(even) {
    background-color: #eee;
}