<div>
    <!--
    <h2> this is {{title}} </h2>
    <button> Test1 </button>
    <button type="button" class="btn btn-primary mx-3 my-4">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark mx-5">Dark</button>
    <app-student-dashboard> </app-student-dashboard>
    -->
</div>

<router-outlet></router-outlet>
